/*! TOP */
*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #ebebeb;
}

p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 1.1rem;
}

p.font-small {
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  line-height: 25px;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  color: white;
}

h2 {
  font-size: 2rem;
  color: white;
}

.container {
  display: grid;
  grid-template-areas: "top-container" "middle-container" "bottom-container";
}
.top-container {
  grid-area: top-container;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px 80px;
  grid-template-areas: "top-left top-right" "bottom-left bottom-right" "nav nav";
}

.top-left {
  background: #c7ddea;
  grid-area: top-left;
  padding: 40px 120px 40px 120px;
}
.top-right {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f17849;
  grid-area: top-right;
}
.bottom-left {
  background: #c7ddea;
  grid-area: bottom-left;
  padding: 3rem 8rem 16rem 10rem;
}
.bottom-right {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fab131;
  grid-area: bottom-right;
}
.white {
  color: white;
}
.family {
  grid-area: bottom-left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 2rem;
}
.img-family {
  height: 320px;
}
.info-text {
  grid-area: top-left;
}

.button-join {
  position: relative;
  justify-content: flex-start;
  background-color: white;
  font-size: 1rem;
  padding: 14px 45px 14px 45px;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
}
.button-join:active {
  position: relative;
  top: 1px;
}
.button-join:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.nav-bar {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 240px 0 240px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
a:hover {
  color: rgba(0, 0, 0, 1);
}
/*! MIDDLE */
.middle-container {
  grid-area: middle-container;
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(15, 120px);
}

.middle {
  display: flex;
  flex-direction: column;
  padding: 20%;
}

.middle-flex-left {
  grid-column: 1/8;
  grid-row: 1/8;
  background: #aaa09e;
}

.middle-flex-right {
  grid-column: 8/15;
  grid-row: 1/8;
  background: #aaa09e;
}

.middle-flex2 {
  background: #fab131;
  grid-column: 1/15;
  grid-row: 8/16;
  justify-content: center;
  align-items: center;
}

h1.about-us {
  margin-top: 30%;
  margin-bottom: 10%;
}

p.middle-text {
  width: 300px;
  line-height: 30px;
}

p.about-us {
  text-align: center;
  line-height: 25px;
  width: 80%;
}

.card-child {
  grid-column: 2/6;
}

.card-adult {
  grid-column: 6/10;
}

.card-old {
  grid-column: 10/14;
}

/* *De vita korten på barn vuxen gammal */
.card {
  grid-row-start: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 410px;
  background: white;
  border-radius: 10px;
  margin: 20px;
}

/* *Rutan med bild i */
.card-background {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  height: 190px;
  padding-top: 15px;
  position: relative;
  top: -45px;
}

/* *Bakgrund till bilden på barnet*/
.blue-background {
  background: #c7ddea;
}

/* *Bakgrund till bilden på vuxen*/
.yellow-background {
  background: #fab131;
}

/* *Bakgrund till bilden på gubben*/
.red-background {
  background: #f17849;
}

/* *Bilden på barnet */
img.child-picture {
  padding-left: 20px;
  height: 120%;
}

/**Andra bilder i korten */
img.card-picture {
  height: 320%;
}

/* *Rubrik på korten */
h3.card-title {
  position: relative;
  top: -10px;
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 5px;
}

/* *Text på korten */

/*! BOTTOM CONTAINER */
.bottom-container {
  grid-area: bottom-container;
  max-width: 1200px;
  height: 700px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(2, 1fr) auto auto;
  grid-template-columns: repeat(3, 1fr);
}

.itembox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.itembox h2 {
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 5px;
  margin-left: 10px;
}

.itembox p {
  margin-bottom: auto;
  margin-top: -20px;
  text-align: center;
}

.tutitembox1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: #c7ddea;
}

.tutitembox2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: white;
}

.tutitembox3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-color: #ebebeb;
}

.tutitembox4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: white;
}

.tutitembox5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: #f17849;
}

.tutitembox6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-color: white;
}

.top {
  height: 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border: none;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top .topbtn {
  margin: 0;
  padding-bottom: 0;
}

.top .topbtn h1 {
  margin: 0;
  padding-top: 0;
}

.topbtn {
  border: none;
  background-color: #ebebeb;
}

.topbtn a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

footer {
  background-color: #aaa09e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
}
